
@{
    ViewBag.Title = "Index";
}

<!-- Navbar-->

@{
    Html.RenderPartial("_Navbar");
}
<!-- Side-Nav-->
@{

    Html.RenderPartial("_SideNav");
}

<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid" id="Main_Div">
        <div class="row">
            <div class="main-header">
                <h4>Dashboard</h4>
            </div>
        </div>
        <!-- 4-blocks row start -->
        @{
            Html.RenderPartial("_Blocks");
        }
        <!-- 4-blocks row end -->

        <div id="Test" class="text-align-center">

        </div>

        @ViewBag.Kir
        Alaki
    </div>
    <!-- Main content ends -->

</div>



@section js{

    <script type="text/javascript">

        $('#fach').click(function () {
            //show('Fach')
        });

        function show(param) {
            //   alert("HASAN");
            var Url = "/admin/";
            switch (param) {

                case 'Fach':
                    Url = Url + "faches/index"
                    break;

                default:
                    Url = Url + "faches/create"
                    
            }

            $(document).ready(function () {
                $.get(Url, { input: param }, function (data) {
                //$.get("/admin/faches/index", function (data) {
                    $('#Test').html(data);
                });

            });
        }
    </script>
}