<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quantum Able Bootstrap 4 Admin Dashboard Template</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="codedthemes">
    <meta name="keywords"
          content=", Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="codedthemes">
    <!--Styles -->
    <!--#region Favicon icon -->
    <link rel="shortcut icon" href="~/Areas/Admin/Content/assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/Areas/Admin/Content/assets/images/favicon.ico" type="image/x-icon">

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/Areas/Admin/Content/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--ico Fonts-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/icon/icofont/css/icofont.css">

    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/plugins/bootstrap/css/bootstrap.min.css">

    <!-- waves css -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/plugins/Waves/waves.min.css">

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/css/main.css">

    <!-- Responsive.css-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/css/responsive.css">


    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/css/color/color-1.min.css" id="color" />
    <!-- #endregion color css-->

</head>

<body>

    @RenderBody()

   

    <!-- #region Required Jqurey -->

    <script src="~/Areas/Admin/Content/assets/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/plugins/tether/dist/js/tether.min.js"></script>


    <script src="~/Areas/Admin/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- waves effects.js -->
    <script src="~/Areas/Admin/Content/assets/plugins/Waves/waves.min.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="~/Areas/Admin/Content/assets/pages/elements.js"></script>

    <!-- #endregion Required Fremwork -->



    @RenderSection("Scripts", false);
</body>
</html>
